body {
  --saturation-factor: 1;
  --bg-gradient-chroma-glow-1: hsl(183.39 calc(1 * 86.341%) 40.196% /1);
  --bg-gradient-chroma-glow-1-hsl: 183.39
    calc(var(--saturation-factor, 1) * 86.341%) 40.196%;
  --bg-gradient-chroma-glow-2: hsl(258.113 calc(1 * 89.831%) 46.275% /1);
  --bg-gradient-chroma-glow-2-hsl: 258.113
    calc(var(--saturation-factor, 1) * 89.831%) 46.275%;
  --bg-gradient-chroma-glow-3: hsl(298.491 calc(1 * 90.857%) 34.314% /1);
  --bg-gradient-chroma-glow-3-hsl: 298.491
    calc(var(--saturation-factor, 1) * 90.857%) 34.314%;
  --bg-gradient-chroma-glow-4: hsl(264.767 calc(1 * 100%) 66.275% /1);
  --bg-gradient-chroma-glow-4-hsl: 264.767
    calc(var(--saturation-factor, 1) * 100%) 66.275%;
  --bg-gradient-chroma-glow-5: hsl(206.702 calc(1 * 75.494%) 50.392% /1);
  --bg-gradient-chroma-glow-5-hsl: 206.702
    calc(var(--saturation-factor, 1) * 75.494%) 50.392%;
  background-color: #000000;
  background: linear-gradient(
    128.92deg,
    var(--bg-gradient-chroma-glow-1) 3.94%,
    var(--bg-gradient-chroma-glow-2) 26.1%,
    var(--bg-gradient-chroma-glow-3) 39.82%,
    var(--bg-gradient-chroma-glow-4) 56.89%,
    var(--bg-gradient-chroma-glow-5) 76.45%
  );
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  touch-action: none;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 1080px) {
  #grid {
    font-size: 250;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(3, 30vw);
  }
  #gridcontainer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .gridbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right {
    border-right: 1.5vh solid black;
  }
  .left {
    border-left: 1.5vh solid black;
  }
  .bottom {
    border-bottom: 1.5vh solid black;
  }
  .top {
    border-top: 1.5vh solid black;
  }
  #start {
    z-index: 20;
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
  }
  #results {
  }
}
@media only screen and (min-width: 1081px) {
  #grid {
    font-size: 100;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 15vw);
    grid-template-rows: repeat(3, 12.5vw);
  }
  #gridcontainer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .gridbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right {
    border-right: 1.5vh solid black;
  }
  .left {
    border-left: 1.5vh solid black;
  }
  .bottom {
    border-bottom: 1.5vh solid black;
  }
  .top {
    border-top: 1.5vh solid black;
  }
}
